@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Reset table */
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Table */

table {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
  border-spacing: 0;
	/* white-space: nowrap; */
}

td {
	padding: 0;
}

hr {
  border: solid thin #989898;
}

#tables {
	position: relative;
	width: 100%;
}

#two-way {
	width: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 75%;
	word-break: break-word;
}

#two-way thead {
	text-align: right;
	font-weight: normal;
}

#two-way tbody {
	text-align: right;
}

#two-way th {
	padding: .5em;
	border-bottom: 2px solid black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.gmisc_table thead tr:first-child {
  border-top: 0;
}

.gmisc_table th:first-child {
  text-align: center;
}

.gmisc_table tr:last-child {
  border-top: thin solid black;
  border-bottom: 2px solid black;
}

.gmisc_table td:last-child {
	border-left: thin solid black;
}

.gmisc_table td:first-child {
  text-align: center;
  border-right: thin solid black;
/*border-left: thin solid black;*/
}


/* Style for the outer heading */
#headings {
  text-align: center;
}

#independent {
  border-bottom: thin solid black;
  padding-bottom: 0.2em;
}

/* Padding for inner table*/
#outer_table td td {
  padding: .5em .5em;
}


@media only screen and (min-width: 800px) {
  #independent {
    padding-top: 1em;
  }

  #tables {
    position: relative;
  	width: 80%;
  	margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  #tables {
    position: relative;
  	width: 80%;
  	margin: auto;
  }

}
